$red: #fb3a3a;

.mat-toolbar {
  width: 100%;  // Ensure toolbar takes full width without causing overflow
  margin-bottom: 10px;
  background-color: $red;
  color: white;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
  background-color: darken($red, 10%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 20px;  // Reduced padding to avoid overflowing content
  padding-bottom: 10px;
  border-radius: 5px;
}

mat-form-field {
  padding: 5px;
  background-color: lighten($red, 50%);
  border-radius: 5px;
  width: 100%;  // Make sure form fields take full width but stay within container
  label {
    color: $red;
  }
  input {
    color: darken($red, 20%);
  }
}

.button {
  background-color: $red;
  color: white;
  padding: 10px 20px;

  font-size: 1rem;
  &:hover {
    background-color: darken($red, 10%);
  }
}

.mat-dialog-content {
  overflow: hidden;  // Prevent overflow and scrolling inside dialog content
}

.mat-dialog-actions {
  justify-content: center;
  padding: 10px;
}
