$red: #fb3a3a; // Your defined color

.mat-toolbar {
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
  background-color: $red;
  padding-top: 40px;
  padding-bottom: 10px;
}

mat-form-field {
  padding: 5px;
}

mat-hint {
  color: $red; // Use your palette color for consistent red hints
}

button {
  margin: 10px;
  background-color: $red;
}

.mat-dialog-content {
  max-height: none; // Ensure there's no unwanted scroll
  padding-bottom: 10px;
  overflow: hidden; // Disable scrolling completely
}
